*{
    background-color: burlywood;
}
a{
    text-decoration: none;
    color:black;
}
a:hover {
    color: #1751ff;
    cursor: pointer;
  }
form{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input{
    background-color: aliceblue;
}
button{
    background-color: azure;
}